<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign-out" %>

<div class="journal-header">
  <p><%= link_to 'Yesterday', select_date_path(date: @journal_entry.date - 1.day) %></p>
  <h1 class="header"><%= @journal_entry.date %></h1>
  <p><%= link_to 'Tomorrow', select_date_path(date: @journal_entry.date + 1.day) %></p>
</div>

<div class="exercises">
  <% @exercises.each do |exercise| %>
    <div class="exercise-details">
      <h3 class="exercise">
        <%= exercise.exercise %>
      </h3>

      <div class="exercise-row">
        <p class="e-r-contents">
          Sets: <%= exercise.sets %>, Reps: <%= exercise.reps %>, Lbs: <%= exercise.weight_in_lbs %>
        </p>
        <p class="e-r-contents">
          <%= link_to '...', exercise_path(exercise), method: :delete, class: "destroy-link" %>
        </p>
      </div>
      <p class="large-row exercise-row">
        Notes:
        <%= exercise.notes %>
      </p>
    </div>
  <% end %>

  <%= link_to '+ Add Exercise', exercise_search_path(journal_entry_id: @journal_entry.id), class: "link" %>
</div>
