<%= form_for @exercise, url: exercises_path, method: :post do |form| %>
    <p id="something"><%= form.label :exercise %></p>
    <p id="something"><%= form.text_field :exercise %></p>
    <p id="something"><%= form.label :weight_in_lbs %></p>
    <p id="something"><%= form.text_field :weight_in_lbs %></p>
    <p id="something"><%= form.label :sets %></p>
    <p id="something"><%= form.text_field :sets %></p>
    <p id="something"><%= form.label :reps %></p>
    <p id="something"><%= form.text_field :reps %></p>
    <p id="something"><%= form.label :date %></p>
    <p id="something"><%= form.date_select :date %></p>
    <p id="something"><%= form.label :notes %></p>
    <p id="something"><%= form.text_area :notes %></p>
    <p id="something"><%= form.submit %></p>
<% end %>